<div class="ui red vertical demo sidebar menu">
  <a href="#" class="active item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="heart icon"></i>
    Current Section
  </a>
  <a class="item">
    <i class="facebook icon"></i>
    Like us on Facebook
  </a>
  <div class="item">
    <b>More</b>
    <div class="menu">
      <a class="item">About</a>
      <a class="item">Contact Us</a>
    </div>
  </div>
</div>

<div class="pusher">
	<video height="600px" id="hero" autoplay loop controls preload="auto">
	  <source src="/videos/frontvideo.mp4">
	  There would be a video here if you had a better browser.
	</video>

	<!-- <span style="position: absolute; right: 20px; top: 20px;">Sign Up</span><span style="position: absolute; right: 100px; top: 20px;">Log In</span> -->

	<div style="position: absolute; left: 20px; top: 20px;" class="ui inverted basic button" id="menu-button">
	  <i class="icon student"></i>
	  Menu 
	</div>

	<div style="position: absolute; right: 20px; top: 20px;" class="ui buttons">
	  <%= link_to('Log In', new_user_session_path, class: 'ui inverted button' ) %>
	  <div class="or"></div>
	  <%= link_to('Sign Up', new_user_registration_path, class: 'ui positive button' ) %>
	</div>

	<h1 style="position: absolute; top: 150px; left: 340px; color: white; font-size: 475%;">Become a Developer.</h1>

	<div style="position: absolute; top: 300px; left: 550px;"><%= link_to('Explore Curriculum', courses_path, class: 'ui teal button' ) %>
	</div>
</div>