<video height="600px" id="hero" autoplay loop controls preload="auto">
  <source src="/videos/frontvideo.mp4">
  There would be a video here if you had a better browser.
</video>

<!-- <span style="position: absolute; right: 20px; top: 20px;">Sign Up</span><span style="position: absolute; right: 100px; top: 20px;">Log In</span> -->


<div style="position: absolute; left: 20px; top: 20px;" class="ui inverted basic button">
  <i class="icon student"></i>
  E-Learn
</div>

<div style="position: absolute; right: 20px; top: 20px;" class="ui buttons">
  <%= link_to('Log In', new_user_session_path, class: 'ui inverted button' ) %>
  <div class="or"></div>
  <%= link_to('Sign Up', new_user_registration_path, class: 'ui positive button' ) %>
</div>

<h1 style="position: absolute; top: 150px; left: 340px; color: white; font-size: 475%;">Become a Developer.</h1>

<div style="position: absolute; top: 300px; left: 550px;"><%= link_to('Explore Curriculum', courses_path, class: 'ui teal button' ) %>
</div>

<div class="ui menu">
  <div class="header item">
    Our Company
  </div>
  <a class="item">
    About Us
  </a>
  <a class="item">
    Jobs
  </a>
  <a class="item">
    Locations
  </a>
  <div class="right menu">
    <div class="header item">
      Support
    </div>
    <a class="item">
      FAQ
    </a>
    <a class="item">
      E-mail Support
    </a>
  </div>
</div>

<div class="ui grid" style="position: absolute; top: 900px;">
  <div class="row">
      <div class="column padding-reset">
          <div class="ui huge message page grid">
              <h1 class="ui huge header">Hello, world!</h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <a class="ui blue button">Learn more &raquo;</a>
          </div>
      </div>
  </div>
</div>



