<script>
// Create a new Firebase reference, and a new instance of the Login client
var chatRef = new Firebase('https://intense-torch-861.firebaseio.com/chat');

function login(provider) {
  chatRef.authWithOAuthPopup(provider, function(error, authData) {
    if (error) {
      console.log(error);
    }
  });
}

chatRef.onAuth(function(authData) {
  // Once authenticated, instantiate Firechat with our user id and user name
  if (authData) {
    initChat(authData);
  }
});
</script>

<script>
function initChat(authData) {
  var chat = new FirechatUI(chatRef, document.getElementById('firechat-wrapper'));
  chat.setUser(authData.uid, authData[authData.provider].displayName);
}
$(function() {
    $("#login-firechat").on('click', function(){
      $('#login-firechat').hide();
    })
});
</script>



<%= render 'left_sidebar' %>

<div class="pusher">
  <div class="ui grid">
    <div class="two wide column sticky top"></div>
    <div class="nine wide column main container">
    <div class="ui piled segment" style="margin-top: 40px;">
      <div class="ui fluid card">
          <div class="image">
            <h2 style="text-align: center;">
              1. Introduction to Web Development
            </h2>
          </div>
          <div class="content">
            <a class="header">Start Here!</a>
            <div class="description">
              This course will start from zero, answering the basic questions people have about the actual practice and career of web development. You'll gain a much better understanding of what you're about to get into!
            </div>
          </div>
          <div class="extra content">
            <a>
              <div class="left-fact">
                <h4 style="color:black">You Will Learn</h4>
                <ul>
                  <li>What a web developer really does</li>
                  <li>The tools of the trade</li>
                  <li>How to get hired as a web developer</li>
                </ul>
              </div>
              <div class="right-fact">
                <h4 style="color:black">You Will Build</h4>
                <ul>
                  <li>Hold on, you'll be building soon!</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
    <div class="ui green indicating small progress">
      <div class="bar"></div>
    </div>

      <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">2. Web Development 101</h2>
          </div>
          <div class="content">
            <a class="header">A Healthy Dose of Everything</a>

            <div class="description">
              This course is for anyone who is either starting from scratch or who isn't entirely comfortable with their understanding of the command line, HTML, CSS, Javascript, Ruby, web frameworks, Git, or other foundational technologies of web development. We cover a LOT of ground -- by the end of this comprehensive course, you'll be well prepared to take on our deep dive courses or explore further on your own.
            </div>
          </div>
          <div class="extra content">
            <a>
              <div class="left-fact">
              <h4 style="color:black">You Will Learn</h4>

                  <ul>
                    <li>How the web really works</li>
                    <li>Basic HTML, CSS, and Javascript</li>
                    <li>Basic Ruby, Rails, Databases and Git</li>
                  </ul>

              </div>
              <div class="right-fact">
              <h4 style="color:black">You Will Build</h4>


                  <ul>
                    <li>Google's homepage in HTML/CSS</li>
                    <li>A dynamic sketchpad with JS/jQuery</li>
                    <li>A series of test-first Ruby challenges</li>
                  </ul>

                </div>
            </a>
          </div>
        </div>

<div class="ui indicating small progress">
    <div class="bar"></div>
  </div>

      <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">3. Ruby Programming</h2>
          </div>
          <div class="content">
            <a class="header">Become a True Rubyist!</a>

            <div class="description">
              Once you've completed Web Development 101, this course will take you deep into the wonderful world of Ruby. You'll learn a combination of programming fundamentals and best practices and you will get the chance to build a variety of different projects along the way.
            </div>
          </div>
          <div class="extra content">
            <a>
              <div class="left-fact">
              <h4 style="color:black">You Will Learn</h4>

                  <ul>
                    <li>How to write clean, effective, modular code</li>
                    <li>Working with files and scripts</li>
                    <li>Basic algorithms and data structures</li>
                  </ul>

              </div>
              <div class="right-fact">
              <h4 style="color:black">You Will Build</h4>


                  <ul>
                    <li>TicTacToe, Mastermind, and Hangman</li>
                    <li>A command line server and browser</li>
                    <li>Chess (seriously)</li>
                  </ul>

                </div>
            </a>
          </div>
        </div>

<div class="ui indicating small progress">
    <div class="bar"></div>
  </div>

      <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">4. Ruby on Rails</h2>
          </div>
          <div class="content">
            <a class="header">Build Real Websites</a>

            <div class="description">
              Now that you've got a good grounding in Ruby, it's time to put that to work by learning how to rapidly develop websites using Ruby on Rails. By the end of this course, you'll be able to build and deploy a real website with confidence. In fact, you'll do it many times.
            </div>
          </div>
          <div class="extra content">
            <a>
              <div class="left-fact">
              <h4 style="color:black">You Will Learn</h4>

                  <ul>
                    <li>How to build and deploy a web application from scratch</li>
                    <li>MVC like the back of your hand</li>
                    <li>Setting up the data architecture of a new site</li>
                  </ul>

              </div>
              <div class="right-fact">
              <h4 style="color:black">You Will Build</h4>


                  <ul>
                    <li>A full featured Twitter clone</li>
                    <li>A flight booking application</li>
                    <li>A dozen others, from simple CRUD apps to APIs and Facebook</li>
                  </ul>

                </div>
            </a>
          </div>
        </div>

<div class="ui indicating small progress">
    <div class="bar"></div>
  </div>

      <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">5. HTML5 and CSS3</h2>
          </div>
          <div class="content">
            <a class="header">Make Your Sites Actually Look Good</a>

            <div class="description">
              Now that you're a pro in building website back ends, it's time to take a good hard look at the front end so your sites will stop looking like ugly ducklings and you can really begin to understand the DOM. This shorter course will give you the tools to stop fighting with your CSS and start building more logically designed sites.
            </div>
          </div>
          <div class="extra content">
            <a>
              <div class="left-fact">
              <h4 style="color:black">You Will Learn</h4>

                  <ul>
                    <li>All about styling with CSS</li>
                    <li>How to effectively use a front end framework like Bootstrap</li>
                    <li>Basic principles of site layout and design</li>
                  </ul>

              </div>
              <div class="right-fact">
              <h4 style="color:black">You Will Build</h4>


                  <ul>
                    <li>Several popular website visual front ends</li>
                    <li>Your own front end framework</li>
                    <li>A goodybag of CSS tricks and tactics</li>
                  </ul>

                </div>
            </a>
          </div>
        </div>

<div class="ui indicating small progress">
    <div class="bar"></div>
  </div>

      <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">6. Javascript and jQuery</h2>
          </div>
          <div class="content">
            <a class="header">Make Your Websites Really Dance</a>

            <div class="description">
              The last component in your web development arsenal is the ability to make your front ends dynamically react to the user. In this course you'll learn how to use Javascript and jQuery to interact with the DOM and make things like dropdown menus, parallax scroll effects, single page applications, and even games. It will tie together everything you've learned already into one awesome package.
            </div>
          </div>
          <div class="extra content">
            <a>
              <div class="left-fact">
              <h4 style="color:black">You Will Learn</h4>

                  <ul>
                    <li>How to build interactive games using HTML5</li>
                    <li>How to use a full range of jQuery effects on the DOM</li>
                    <li>How to organize your JS into modular pieces</li>
                  </ul>

              </div>
              <div class="right-fact">
              <h4 style="color:black">You Will Build</h4>


                  <ul>
                    <li>Javascript front ends for your Rails back ends</li>
                    <li>A javascript framework of your own</li>
                    <li>Snake, Missle Command and More</li>
                  </ul>

                </div>
            </a>
          </div>
        </div>

  <div class="ui green indicating small progress">
    <div class="label">Progress</div>
    <div class="bar"></div>
  </div>

      <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">7. Getting Hired as a Web Developer</h2>
          </div>
          <div class="content">
            <!-- <a class="header">Get Paid to Keep Learning</a> -->
            <%= link_to 'Get Paid to Keep Learning', markdown_path(page_id: "getting_hired_as_web_dev"), class: "header" %>
            <div class="description">
              You've come extremely far and are now a capable web developer, but, as you've probably realized, the journey of discovery has only just begun. Luckily, you're now useful enough that others will pay you to keep building and learning. . . and in this short course, we'll show you how to make that happen.
            </div>
          </div>
          <div class="extra content">
            <a>
              <div class="left-fact">
              <h4 style="color:black">You Will Learn</h4>

                  <ul>
                    <li>Where to find the appropriate job postings</li>
                    <li>How to market yourself effectively to employers</li>
                    <li>How to ace the technical interview</li>
                  </ul>

              </div>
              <div class="right-fact">
              <h4 style="color:black">You Will Build</h4>


                  <ul>
                    <li>Your personal portfolio website</li>
                    <li>A base of knowledge in more complex problem solving skills</li>
                    <li>A clear strategy for getting hired</li>
                  </ul>

                </div>
            </a>
          </div>
        </div>

<div class="ui green indicating small progress">
    <div class="bar"></div>
  </div>



      </div>
  </div>

  <div class="five wide column fixed top center aligned">
    <br><br>
    <h1><i class="chat icon"></i>Chat Section</h1>
    <div id='firechat-wrapper'></div>    
    <h3>Choose from the options below</h3>
    <a class="item ui button" id="login-firechat" onclick='login("twitter");'>Twitter</a>
    <a class="item ui button" id="login-firechat" onclick='login("google");'>Google</a>
  </div>

</div>
</div>





