<%= render 'left_sidebar' %>


<div class="pusher">
  <div class="ui grid">
  <div class="two wide column"></div>

  <div class="twelve wide column">
    <div class="ui piled segment">
      
      <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">1. Introduction to Web Development</h2>
          </div>
          <div class="content">
            <a class="header">Start Here!</a>
            
            <div class="description">
              This course will start from zero, answering the basic questions people have about the actual practice and career of web development. You'll gain a much better understanding of what you're about to get into!
            </div>
          </div>
          <div class="extra content">
            <a>
              <div class="left-fact">
              <h4>You Will Learn</h4>

                  <ul>
                    <li>What a web developer really does</li>
                    <li>The tools of the trade</li>
                    <li>How to get hired as a web developer</li>
                  </ul>

              </div>
              <div class="right-fact">
              <h4>You Will Build</h4>


                  <ul>
                    <li>Hold on, you'll be building soon!</li>
                  </ul> 

                </div>
            </a>
          </div>
        </div>

  <div class="ui green indicating small progress">
    <div class="label">Progress</div>
    <div class="bar"></div>
  </div>

  <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">2. Web Development 101</h2>
          </div>
          <div class="content">
            <a class="header">Stevie Feliciano</a>
            <div class="meta">
              <span class="date">Joined in 2014</span>
            </div>
            <div class="description">
              Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>

<div class="ui green indicating small progress">
    <div class="bar"></div>
  </div>

<div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">3. Ruby Programming</h2>
          </div>
          <div class="content">
            <a class="header">Stevie Feliciano</a>
            <div class="meta">
              <span class="date">Joined in 2014</span>
            </div>
            <div class="description">
              Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>

<div class="ui indicating small progress">
    <div class="bar"></div>
  </div>

  <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">4. Ruby On Rails</h2>
          </div>
          <div class="content">
            <a class="header">Stevie Feliciano</a>
            <div class="meta">
              <span class="date">Joined in 2014</span>
            </div>
            <div class="description">
              Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>

<div class="ui indicating small progress">
    <div class="bar"></div>
  </div>

  <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">5. HTML5 and CSS3</h2>
          </div>
          <div class="content">
            <a class="header">Stevie Feliciano</a>
            <div class="meta">
              <span class="date">Joined in 2014</span>
            </div>
            <div class="description">
              Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>

<div class="ui indicating small progress">
    <div class="bar"></div>
  </div>

  <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">6. Javascript and jQuery</h2>
          </div>
          <div class="content">
            <a class="header">Stevie Feliciano</a>
            <div class="meta">
              <span class="date">Joined in 2014</span>
            </div>
            <div class="description">
              Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>

<div class="ui indicating small progress">
    <div class="bar"></div>
  </div>

  <div class="ui fluid card">
          <div class="image">
           <h2 style="text-align: center;">7. Getting Hired as a Web Developer</h2>
          </div>
          <div class="content">
            <a class="header">Stevie Feliciano</a>
            <div class="meta">
              <span class="date">Joined in 2014</span>
            </div>
            <div class="description">
              Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>

<div class="ui indicating small progress">
    <div class="bar"></div>
  </div>



      </div>
  </div>

  <div class="two wide column"></div>

</div>
</div>  




