<!DOCTYPE html>
<html>
<head>
  <title>Testing12</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  
  <!-- animate css -->
	<!-- <link rel="stylesheet" href="../assets/stylesheets/animate.min.css"> -->
	<!-- bootstrap css -->
	<!-- <link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css"> -->
	<!-- font-awesome -->
	<!-- <link rel="stylesheet" href="../assets/stylesheets/font-awesome.min.css"> -->
	<!-- google font -->
	<!-- 	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'> -->
	<!-- custom css -->
	<link rel="stylesheet" href="../assets/stylesheets/templatemo-style.css">
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= yield %>


<!-- <script src="../assets/javascripts/jquery.js"></script>
<script src="../assets/javascripts/bootstrap.min.js"></script>
<script src="../assets/javascripts/wow.min.js"></script>
<script src="../assets/javascripts/jquery.singlePageNav.min.js"></script>
<script src="../assets/javascripts/custom.js"></script> -->
</body>
</html>
